[run]
omit =
    */migrations/*
    */tests.py
    */test_*.py
    */__pycache__/*
    recommendation_system/chroma_init.py
    manage.py
    */apps.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
